---
import Layout from '../layouts/Layout.astro'
import '../styles/global.css'
---

<div class="mx-auto mt-32">
	<h1 class="text-center text-2xl">QuidditchTrip</h1>
	<form id="team-form">
		<input
			type="text"
			id="team-1"
			placeholder="Enter team name"
			class="mx-auto mt-4 block w-1/2 rounded border border-gray-300 px-4 py-2 focus:border-blue-500 focus:outline-none"
		/>
		<input
			type="text"
			id="team-2"
			placeholder="Enter team name 2"
			class="mx-auto mt-4 block w-1/2 rounded border border-gray-300 px-4 py-2 focus:border-blue-500 focus:outline-none"
		/>
		<input
			type="submit"
			class="mx-auto mt-4 block rounded bg-blue-500 px-4 py-2 text-white hover:bg-blue-600"
			value="Start Game"
		/>
	</form>
</div>
<Layout />

<script>
	var baseUrl = 'https://api-quidditchtrip.nolanmiller.me'

	document.getElementById('team-form').addEventListener('submit', async function (event) {
		event.preventDefault()

		const team1 = document.getElementById('team-1').value.trim()
		const team2 = document.getElementById('team-2').value.trim()

		if (team1 && team2) {
			localStorage.setItem('team1', team1)
			localStorage.setItem('team2', team2)

			var response = await fetch(`${baseUrl}/teams/${team1}/${team2}`, {
				method: 'POST'
			})
			if (response.ok) {
				var data = await response.json()
				console.log('Game started:', data)
				localStorage.setItem('gameId', data.gameId)
				window.location.href = `/game/${data.gameId}`
			} else {
				alert('Error starting game. Please try again.')
			}
		} else {
			alert('Please enter valid team names.')
		}
	})
</script>
